.m-title {
  position: relative;
  background: url('../../assets/images/index.png') no-repeat;
  height: 33px;
  padding: 0 10px 0 34px;
  background-position: -225px -156px;
  border-bottom: 2px solid #C10D0C;
}
.m-title .title {color: #333;font-size: 20px;}
.m-title .categories {display: inline;}
.m-title .categories div {display: inline;margin-left: 20px;}
.m-title .categories a {
  font-size: 12px;
  color: #666
}
.m-title .categories .line {
  margin: 0 10px;
  color: #ccc
}
.m-title .more {
  position: absolute;
  right: 10px;
}
.m-title .more a {
  color: #666;
  font-size: 12px;
}
.m-title .more .m-bg {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url('../../assets/images/index.png') no-repeat;
  background-position: 0 -240px;
}
.m-title .categories a:hover , .m-title .more a:hover {
  text-decoration: underline;
}